<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SnipUp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SnipUp.Properties.Settings>
            <setting name="KeyDefined" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifierDefined" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyFull" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifierFull" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyActive" serializeAs="String">
                <value />
            </setting>
            <setting name="ModifierActive" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExplorerContextMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Popups" serializeAs="String">
                <value>False</value>
            </setting>
        </SnipUp.Properties.Settings>
    </userSettings>
</configuration>